# Ignore arquivos temporários, binários e de build do Visual Studio
*.obj
*.exe
*.pdb
*.ilk
*.idb
*.dll
*.log
*.lib
*.vspscc
*.vssscc
*.tmp
*.user
*.aps
*.pch
*.vsdx

# Pastas de build
[Bb]in/
[Oo]bj/
[Oo]ut/

# Pastas de configuração do Visual Studio
.vscode/
.vs/

# Arquivos de configuração do Visual Studio
*.suo
*.user
*.sln.docstates

# Arquivos de teste do Visual Studio
TestResults/
*.cache
*.log
*.tlog
